* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif, Arial, Helvetica, sans-serif;
}

body {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 50px auto;
    background-color: black;
    padding: 10px;
    gap: 8px;
    color: white;
}

nav {
    grid-area: 1/1/2/span 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}


nav .left {
    display: flex;
    width: 40%;
    justify-content: space-between;
    align-items: center;
}

nav .left input {
    font-size: 15px;
    padding: 10px 20px;
    background-color: rgb(29, 29, 29);
    border: none;
    outline: none;
    border-radius: 20px;
    width: 500px;
    font-weight: 600;
}

nav .right {
    display: flex;
    width: 40%;
    justify-content: space-between;
    color: gray;
    align-items: center;
}

nav .right .bold-words {
    display: flex;
    gap: 10px;
    color: gray;
    font-weight: 800;
}

nav .right .install,
.sign-up {
    font-weight: bold;
    font-size: 14px;
}

nav .right .log-in {
    background-color: white;
    color: black;
    padding: 10px 20px;
    /* font-size: 20px;/ */
    font-weight: bold;
    /* padding: 8px 15px; */
    border-radius: 20px;
}

.sidebar {
    background-color: #121212;
    border-radius: 8px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;
}

.sidebar .title {
    display: flex;
    font-size: 18px;
    font-weight: bolder;
    justify-content: space-between;
}

.sidebar .songs-list {
    height: 60vh;
    overflow: auto;
    gap: 20px;
    display: flex;
    flex-direction: column;
    scroll-behavior: smooth;
    cursor: pointer;
}

.sidebar .sidebar-song {
    /* background-color: red; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.sidebar :last-child {
    cursor: pointer;
}

.sidebar-song img:first-child {
    border-radius: 5px;
}

.sidebar-song div {
    width: 60%;
}


.sidebar-song div :first-child {
    font-size: 13px;
    font-weight: 600;
    margin-bottom: 2px;
}

.sidebar-song div :last-child {
    font-size: 12px;
    color: gray;
}

.sidebar .policies {
    font-size: 12px;
    color: rgb(173, 171, 171);
    display: flex;
    /* grid-template-columns: repeat(3,1fr); */
    flex-wrap: wrap;
    gap: 20px;
}

.sidebar>div:last-child {
    font-size: 12px;
    color: rgb(218, 216, 216);
    width: fit-content;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 100px;
    border: 1px solid rgb(215, 215, 215);

}

main {
    background-image: linear-gradient(rgb(30, 30, 30), black);
    border-radius: 8px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    position: relative;
}

main p {
    font-size: 20px;
    font-weight: 900;

}

main .cards {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: 1fr 1fr 1fr;
    overflow: auto;
    height: 70vh;
    gap: 20px 0;
    /* height: 80%; */
}

main .card {
    width: 180px;
    display: flex;
    flex-direction: column;
    /* background-color: blue; */
    gap: 10px;
    position: relative;
}

main .card img {
    width: 100%;
    height: 80%;
    border-radius: 10px;
}

main .card .song-info {
    font-weight: bold;
}

main .card .song-name {
    font-size: 14px;
    color: rgb(218, 216, 216);
}

main .card .play-btn {
    position: absolute;
    right: 10px;
    bottom: 60px;
    /* font-size: 30px; */
    background-color: rgb(1, 190, 23);
    color: black;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 0px 0px 4px;
}

main .player {
    box-sizing: border-box;
    position: absolute;
    /* color: wheat; */
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #2c2b2b;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

main .controls {
    display: flex;
    justify-content: space-between;
}

main .controls .name {
    width: 30%;
    font-weight: bold;
}
/* main .controls .time{
    width: px;
} */

main .control-btns {
    display: flex;
    gap: 20px;
}

main .scroll {
    height: 10px;
    width: 100%;
    border: 2px solid rgb(89, 88, 88);
    border-radius: 20px;
    /* padding: 0 5px; */
    display: flex;
    align-items: center;

}

main .scroll .circle {
    width: 8px;
    height: 8px;
    background-color: #b0b0b0;
    border-radius: 20px;
    transform: translate(0px);
    /* transition: all ease 1s; */
}

main .sound {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}